@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.home {
  font-family: $font-family;
}


.hero {
  position: relative;

  img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  text-align: center;
  background: rgba($black, 0.4);
  padding: $space-lg $space-xl;
  border-radius: $radius-lg;

  h1 {
    margin: 0 0 $space-md 0;
  }

  p {
    margin: 0;
  }


  @include tablet {
    img {
      height: 300px;
    }

    padding: $space-md $space-lg;

    h1 {
      font-size: $font-size-2xl;
    }
  }

  @include mobile {
    img {
      height: 200px;
    }

    padding: $space-sm $space-md;

    h1 {
      font-size: $font-size-xl;
    }

    p {
      font-size: $font-size-sm;
    }
  }
}



.articles {
  padding: $space-xl;
  @include gridAuto(280px);

  @include tablet {
    @include gridAuto(200px);
    padding: $space-lg;
    gap: $space-md;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: $space-md;
    gap: $space-md;
  }
}

.article-card {
  @include card;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  @include tablet {
    img {
      height: 160px;
    }
  }

  @include mobile {
    img {
      height: 200px;
    }
  }
}

.article-content {
  padding: $space-lg;

  h3 {
    margin: 0 0 $space-md;
    font-size: $font-size-lg;
  }

  p {
    margin: 0;
    font-size: 0.95rem;
    line-height: $line-height-normal;
  }

  @include tablet {
    padding: $space-md;
  }

  @include mobile {
    padding: $space-md;

    h3 {
      font-size: $font-size-base;
    }
  }
}
